body{
    background-color: #333333;
}
#main-page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#grid{
    background-color: black;
}

.line{
    display: flex;
    flex-direction: row;
}

.box{
    background-color: #F8F8FF;
    min-height: 70px;
    min-width: 70px;
    margin: 5px;
}